html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

.container {
  width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.col-seven-med-14 {
  width: 99%; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.no-gaps {
  margin-right: 0;
  margin-left: 0; }
