.mt-1 {
  margin-top: 1em; }

.mt-2 {
  margin-top: 2em; }

.mt-3 {
  margin-top: 3em; }

.mt-4 {
  margin-top: 4em; }

.mt-5 {
  margin-top: 5em; }

.mt-6 {
  margin-top: 6em; }

.mb-1 {
  margin-bottom: 1em; }

.mb-2 {
  margin-bottom: 2em; }

.mb-3 {
  margin-bottom: 3em; }

.mb-4 {
  margin-bottom: 4em; }

.mb-5 {
  margin-bottom: 5em; }

.mb-6 {
  margin-bottom: 6em; }

.ml-1 {
  margin-left: 1em; }

.ml-2 {
  margin-left: 2em; }

.ml-3 {
  margin-left: 3em; }

.ml-4 {
  margin-left: 4em; }

.ml-5 {
  margin-left: 5em; }

.ml-6 {
  margin-left: 6em; }

.mr-1 {
  margin-right: 1em; }

.mr-2 {
  margin-right: 2em; }

.mr-3 {
  margin-right: 3em; }

.mr-4 {
  margin-right: 4em; }

.mr-5 {
  margin-right: 5em; }

.mr-6 {
  margin-right: 6em; }

.pt-1 {
  padding-top: 1em; }

.pt-2 {
  padding-top: 2em; }

.pt-3 {
  padding-top: 3em; }

.pt-4 {
  padding-top: 4em; }

.pt-5 {
  padding-top: 5em; }

.pt-6 {
  padding-top: 6em; }

.pb-1 {
  padding-bottom: 1em; }

.pb-2 {
  padding-bottom: 2em; }

.pb-3 {
  padding-bottom: 3em; }

.pb-4 {
  padding-bottom: 4em; }

.pb-5 {
  padding-bottom: 5em; }

.pb-6 {
  padding-bottom: 6em; }

.pl-1 {
  padding-left: 1em; }

.pl-2 {
  padding-left: 2em; }

.pl-3 {
  padding-left: 3em; }

.pl-4 {
  padding-left: 4em; }

.pl-5 {
  padding-left: 5em; }

.pl-6 {
  padding-left: 6em; }

.pr-1 {
  padding-right: 1em; }

.pr-2 {
  padding-right: 2em; }

.pr-3 {
  padding-right: 3em; }

.pr-4 {
  padding-right: 4em; }

.pr-5 {
  padding-right: 5em; }

.pr-6 {
  padding-right: 6em; }

.my-1 {
  margin: 1em 0; }

.my-2 {
  margin: 2em 0; }

.my-3 {
  margin: 3em 0; }

.my-4 {
  margin: 4em 0; }

.my-5 {
  margin: 5em 0; }

.my-6 {
  margin: 6em 0; }

.mx-1 {
  margin: 0 1em; }

.mx-2 {
  margin: 0 2em; }

.mx-3 {
  margin: 0 3em; }

.mx-4 {
  margin: 0 4em; }

.mx-5 {
  margin: 0 5em; }

.mx-6 {
  margin: 0 6em; }

.py-1 {
  padding: 1em 0; }

.py-2 {
  padding: 2em 0; }

.py-3 {
  padding: 3em 0; }

.py-4 {
  padding: 4em 0; }

.py-5 {
  padding: 5em 0; }

.py-6 {
  padding: 6em 0; }

.px-1 {
  padding: 0 1em; }

.px-2 {
  padding: 0 2em; }

.px-3 {
  padding: 0 3em; }

.px-4 {
  padding: 0 4em; }

.px-5 {
  padding: 0 5em; }

.px-6 {
  padding: 0 6em; }
