$default-gap: 1.5em;

$screen-lg : 1200px;
$screen-md : 992px;
$screen-sm : 768px;
$screen-xs : 576px;

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.container {
  width        : 100%;
  padding-right: $default-gap;
  padding-left : $default-gap;
  margin-right : auto;
  margin-left  : auto;
}

@media (min-width: $screen-xs ) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $screen-sm ) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: $screen-md ) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $screen-lg) {
  .container {
    max-width: 1140px;
  }
}


.col-seven-med-14 {
    width: 99%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-gaps {
    margin-right: 0;
    margin-left : 0;
}